@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer {
  color: #daa052;
  flex-wrap: wrap; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #5e3e16; }

.card {
  background-color: #5e3e16; }

h1 {
  color: bisque;
  font-size: 150px; }

h2 {
  color: bisque;
  font-size: 75px; }

h3 {
  color: bisque;
  font-size: 50px; }

h4 {
  color: bisque;
  font-size: 37.5px; }

h5 {
  color: bisque;
  font-size: 30px; }

h6 {
  color: bisque;
  font-size: 25px; }

.list bisque {
  color: list bisque;
  height: 75px; }

.green {
  color: green;
  height: 75px; }

.orange {
  color: orange;
  height: 75px; }

.social-facebook {
  background-image: url("img/var.png"); }

.social-instagram {
  background-image: url("img/var.png"); }

.social-email {
  background-image: url("img/var.png"); }

/*Creamos el bucle para usar los valores del mapa*/
.btn--twitter {
  background-color: #55acee;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 5px; }

.btn--facebook {
  background-color: #3a5795;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 5px; }

.btn--send-mail {
  background-color: #C25E30;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 5px; }

.btn--instagram {
  background-color: orange;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 5px; }

.social {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  top: 150px;
  width: 100; }

ul {
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: space-around; }
  ul li {
    transition: all 0.5s ease; }
    ul li a {
      color: bisque;
      text-decoration: none;
      font-size: 1.5rem; }
    ul li:hover {
      transform: scale(1.4); }

@media screen and (max-width: 1920px) {
  .responsive {
    background-color: #A69541; } }

@media screen and (max-width: 1200px) {
  .responsive {
    background-color: #9f6d1f; } }

@media screen and (max-width: 980px) {
  .responsive {
    background-color: #daa052; } }

@media screen and (max-width: 320px) {
  .responsive {
    background-color: #ffd786; } }

.header {
  color: bisque;
  flex-direction: row;
  font-family: cursive;
  text-align: center;
  background-image: linear-gradient(to right, #1a3b16, #286d21);
  border: 1px #27170f; }

h1 {
  color: bisque;
  flex-direction: row;
  font-family: cursive;
  text-align: center;
  background-image: linear-gradient(to right, #1a3b16, #286d21);
  border: 1px #27170f; }

h2 {
  color: bisque;
  flex-direction: row;
  font-family: cursive;
  text-align: center; }

.p {
  color: bisque;
  flex-direction: row;
  font-family: cursive;
  text-align: center; }

.h2__info {
  color: bisque;
  flex-direction: row;
  font-family: cursive;
  display: flex; }

.nav1 {
  background-image: linear-gradient(to right, #1a3b16, #286d21);
  height: 150px;
  width: 100%;
  border: 1px #27170f;
  flex-wrap: wrap; }

.nav__link {
  color: bisque;
  font-size: medium;
  font-style: initial;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  display: flex;
  align-items: center; }

.nav__items1 {
  font-family: sans-serif;
  flex-wrap: wrap;
  font-weight: 700;
  list-style: none;
  justify-content: space-around;
  display: flex;
  align-items: center;
  height: 150px;
  border: 2px; }

.nav {
  background-image: linear-gradient(to right, #1a3b16, #286d21);
  height: 200px;
  width: 100%;
  flex-wrap: wrap; }

.nav {
  background-image: linear-gradient(to right, #1a3b16, #286d21);
  height: 100px;
  width: 100%;
  flex-wrap: wrap; }

.container1 {
  background-color: #8d5d1d;
  display: grid;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly; }

.grid1 {
  flex-wrap: wrap;
  margin-top: 5vh;
  display: grid; }
  .grid1 .row1 {
    background-color: #8d5d1d;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly; }
    .grid1 .row1 .card__header {
      height: 375px;
      width: 400px;
      background-color: #291b08;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 35px; }
    .grid1 .row1 .card__image1 {
      width: 100%;
      border-radius: 32px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly; }

body {
  background-image: linear-gradient(to right, #9f6d1f, #806d4f);
  flex-wrap: wrap; }

.noticia {
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly; }

.card__header1 {
  height: 200px;
  width: 100;
  background-color: #291b08;
  align-items: center;
  flex-wrap: wrap; }
  .card__header1 .card__image {
    width: 100%;
    border-radius: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
