.grid{
    flex-wrap: wrap;
    margin-top: 5vh;
    display: grid;
    background-color: #9f6d1f; 
 
    .texto1{
        background-image: linear-gradient(to right,#9f6d1f,#806d4f);
        flex-wrap: wrap;    
    }
    .texto1__info{
        flex-wrap: wrap;
    margin-top: 5vh;
    display: grid;
    background-color: #9f6d1f; 
        background-image: linear-gradient(to right,#9f6d1f,#806d4f);
        flex-wrap: wrap;
        
    }
}
    body
{background-image: linear-gradient(to right,#9f6d1f,#806d4f);
 flex-wrap: wrap;

 .responsive{
    background-image: linear-gradient(to right,#9f6d1f,#806d4f);
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 5vh;
    display: grid;
    background-color: #9f6d1f;
 }

 h1
{color: bisque;
flex-direction: row;
font-family: cursive;
text-align: center;}
}