$Degradado:linear-gradient(to right,#1a3b16, #286d21 );
$Degradado2: linear-gradient(to right,#9f6d1f,#806d4f);

$header_alto: 150px;
$nav_alto: 100%;

$color: bisque;
$modo: dark;
$dark_background: rgb(94, 62, 22);
$dark_background_card: rgb(255, 255, 255);
$dark_text: rgb(255, 255, 255);
$dark_link: rgb(255, 255, 255);
